version: "3.8"

services:
  db:
    image: postgres:16
    container_name: torn_rw_feed_db
    restart: unless-stopped
    env_file:
      - .env
    ports:
      - "5432:5432"
    volumes:
      - db_data:/var/lib/postgresql/data

  api:
    image: ghcr.io/ben-vollrath/torn-rw-feed:latest
    container_name: torn_rw_feed_api
    restart: unless-stopped
    depends_on:
      - db
    env_file:
      - .env
    ports:
      - "8000:8000"
    volumes:
      - ./cert:/cert:ro

volumes:
  db_data: